/* Style for the body element */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    box-sizing: border-box; /* Include padding in the total width/height calculation */
    padding:0;
}

/* Style for the header element */
h1 {
    background-color: #7fb7be;
    color: #fff;
    text-align: center;
    margin:0;
    height:5rem;
}

/* Style for the main content area */
main {
    max-width: 800px;
    margin: 0 auto; /* Center align the main content */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.game {
    display: block;
    margin: 0 auto; /* Center align the game */
}

/* Style for a paragraph element */
p {
    line-height: 1.6;
    color: #333;
}
